/* My Fonts */

@font-face {
  font-family: 'KleinCondensed1';
  src: url('../Fonts/KleinCondensed1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'KleinCondensed2';
  src: url('../Fonts/KleinCondensed2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KleinCondensed3';
  src: url('../Fonts/KleinCondensed3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KleinCondensed4';
  src: url('../Fonts/KleinCondensed4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* CSS For About Page */

.about-page {
  margin: 0;
  padding: 0;
}

.about-page .hero-section {
  position: relative;
  background: #ccc url('../Images/landscape3.png') no-repeat center center;
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-page .hero-section h1 {
  font-size: 3.5rem;
  font-family: 'KleinCondensed1', sans-serif;
  letter-spacing: 2.5px;
  font-weight: bold;
  margin: 10px;
  color: #f0e6d9;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.about-page .quote {
  font-family: 'KleinCondensed4', sans-serif;
  letter-spacing: 1.5px;
  margin-top: 10px;
  font-size: 1rem;
  color: #f0e6d9;
  max-width: 600px;
}

.about-page .image-row {
  display: flex;
  justify-content: flex-start;
  gap: 300px;
  margin-top: -100px;
  margin-left: 20%;
}

.about-page .image-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  overflow: visible;
}

.about-page .image-box img {
  width: 230px; 
  height: auto; 
  max-width: none; 
  position: absolute;
  top: -50%; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.about-page .image-box img.small-p1, 
.about-page .image-box img.small-p2 {
  top: -50px; 
}

.about-page .story-section {
  padding: 40px 120px;
  background-color: #e0d1bb;
  margin-top: 200px;
}

.about-page .story-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  font-family: 'KleinCondensed2', sans-serif;
  color: #3a5c5d;
}

.about-page .story-columns {
  display: flex;
  gap: 60px;
}

.about-page .story-columns p {
  flex: 1;
  line-height: 1.6;
  font-size: 0.95rem;
  font-family: 'KleinCondensed4', sans-serif;
  color: #2c4849;
}
