/* My Fonts */

@font-face {
  font-family: 'KleinCondensed1';
  src: url('../Fonts/KleinCondensed1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'KleinCondensed2';
  src: url('../Fonts/KleinCondensed2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KleinCondensed3';
  src: url('../Fonts/KleinCondensed3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* CSS For Deadzone Page */

.deadzones-page {
  background-image: url('../Images/General/landscape6.png');
  background-repeat: no-repeat;
  background-size: auto;           
  background-position: top center; 
  background-attachment: local;     
  text-align: center;
  min-height: 100vh;                
  height: auto;                    
  padding: 2rem;
  box-sizing: border-box;
  color: white;
  font-family: 'Arial', sans-serif;
}

.deadzones-heading {
  margin-top: 50px;
  color: #aa906c;
  font-family: 'KleinCondensed1', sans-serif;
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 4px;
}

.deadzones-subheading {
  font-family: 'KleinCondensed2', sans-serif;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: #947e5e;
  letter-spacing: 2px;
}

.map-container {
  max-width: 1100px;
  margin: 0 auto;   
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
  border: 4px solid #ffffff;
}

/* Responsive CSS */

@media (max-width: 768px) {
  .map-container {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .map-container {
    width: 300px; 
    height: 480px; 
  }
}
