/* My Fonts */

@font-face {
  font-family: 'KleinCondensed1';
  src: url('../Fonts/KleinCondensed1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'KleinCondensed2';
  src: url('../Fonts/KleinCondensed2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KleinCondensed3';
  src: url('../Fonts/KleinCondensed3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* CSS For Discover Page */

body {
  background-color: #d3d1bd;
  margin: 0;               
  padding: 0;
}

.discover-page {
  background-image: url('../Images/General/landscape6.png');
  background-repeat: no-repeat;
  background-size: auto;           
  background-position: top center; 
  background-attachment: local;     
  text-align: center;
  min-height: 100vh;                
  height: auto;                    
  padding: 2rem;
  box-sizing: border-box;
}


.discover-heading {
  margin-top: 50px;
  color: #4d7c8b;
  font-family: 'KleinCondensed1', sans-serif;
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 4px;
}

.discover-subheading {
  font-family: 'KleinCondensed2', sans-serif;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: #3f6572;
  letter-spacing: 2px;
}

.map-container {
  max-width: 1100px;
  margin: 0 auto;   
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
  border: 4px solid #ffffff;
}

.place-details {
  font-family: 'KleinCondensed4', sans-serif;
  letter-spacing: 1.5px;  
  background-color: #557e8c;
  padding: 1rem;
  border-radius: 10px;
  max-width: 500px;
  margin: 17rem auto 0 auto;
  color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.place-info {
  padding: 1rem;
  text-align: justify;
  line-height: 1.4;
}

.custom-marker-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.custom-marker-icon {
  width: 25px;
  height: 25px;
}

.custom-tooltip {
  font-family: 'KleinCondensed4', sans-serif;
  letter-spacing: 1.5px; 
  position: absolute;
  bottom: 50px;
  background-color: #3f6572;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 14px;
  transform: translateY(-10px);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  z-index: 10;
}

.custom-marker-wrapper:hover .custom-tooltip {
  opacity: 1;
}