/* My Fonts */

@font-face {
  font-family: 'KleinCondensed1';
  src: url('../Fonts/KleinCondensed1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'KleinCondensed2';
  src: url('../Fonts/KleinCondensed2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KleinCondensed3';
  src: url('../Fonts/KleinCondensed3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KleinCondensed4';
  src: url('../Fonts/KleinCondensed4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* CSS For Favourites Page */


body {
  background-color: #e4ddcf;
  background-image: url('../Images/General/background.png');
  background-repeat: repeat;         
  background-size: 130px 130px;           
  background-position: top left;
  margin: 0;               
  padding: 0;
}

.favourites-page {
  background-color: #e4ddcf;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url('../Images/General/background.png');
  background-repeat: repeat;         
  background-size: 130px 130px;           
  background-position: top left;
}

.favourites-title {
  margin-top: 80px;
  color: #3e5f60;
  font-family: 'KleinCondensed1', sans-serif;
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 4px;
}

.favourites-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.favourite-card {
  font-family: 'KleinCondensed4', sans-serif;
  color: #588688;
  background: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.favourite-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.like-button {
  margin-top: 0.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.star-icon{
    width: "16px";
    vertical-align: "middle";
    margin-right: "5px";
}
