/* My Fonts */

@font-face {
  font-family: 'KleinCondensed1';
  src: url('../Fonts/KleinCondensed1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'KleinCondensed2';
  src: url('../Fonts/KleinCondensed2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KleinCondensed3';
  src: url('../Fonts/KleinCondensed3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KleinCondensed3';
  src: url('../Fonts/KleinCondensed4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.register-page {
  background-image: url('../Images/landscape4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  padding-top: 80px; /* Space for navbar */
  font-family: 'Arial', sans-serif;
}

.register-content {
  max-width: 500px;
  width: 100%;
  padding: 40px;
  margin-left: 10%;
  margin-top: -2%;
}

.join-text {
  font-family: 'KleinCondensed1', sans-serif;
  font-size: 18px;
  color: #10587b;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px; 
}

.create-account {
  font-family: 'KleinCondensed1', sans-serif;
  font-size: 50px;
  margin-bottom: 5px;
  color: #10587b;
  font-weight: 400;
  letter-spacing: 2px; 
}

.login-prompt {
  font-family: 'KleinCondensed2', sans-serif;
  font-size: 14px;
  color: #2c4849;
  margin-bottom: 30px;
  letter-spacing: 2px; 
}

.login-prompt a {
  color: #3498db;
  text-decoration: none;
}

.register-form {
  max-width: 400px;
}

.name-fields {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.name-fields .input-group {
  flex: 1;
}

.input-group {
  margin-bottom: 20px;
  padding-right: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #558258;
  font-weight: 500;
  font-family: 'KleinCondensed4', sans-serif;
  letter-spacing: 2.5px; 
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  background-color: white;
  opacity: 80%;
}

.error {
  color: #e74c3c;
  margin-bottom: 20px;
  font-size: 14px;
}

.create-account-btn {
  background-color: #014d74;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  width: 50%;
  text-transform: none;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: 'KleinCondensed4', sans-serif;
  letter-spacing: 2.5px; 
}

.create-account-btn:hover {
  background-color: #13658e;
}